<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CreativeCaptcha.Domain.Properties.Settings.captchadb"
            connectionString="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9B48EE_captchastore;User Id=DB_9B48EE_captchastore_admin;Password=fluffykitty;" />
    </connectionStrings>
</configuration>